

<div class="container add-top-margin">


  <div class="columns is-centered">
    <div class="column add-padding is-narrow box has-background-white box-radius box-shadow">
      <p class="title is-3"><%= flash[:warning] %></p>
      <p class="title is-1">Log in</p>
      <%= form_tag '/login', method: :post do %>

        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <%= text_field_tag :email, nil, class: 'input', placeholder: 'email'%>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <p class="control has-icons-left">
            <%= password_field_tag :password, nil, class: 'input', placeholder: 'Password' %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <%= submit_tag 'Submit', class: 'button is-success' %>
          </p>
        </div>

      <%end%>

    </div>
  </div>

</div>

