<div>


    <h1><%= @listing.title %></h1>
    <p><%= @listing.address_first_line %></p>
    <p><%= @listing.address_second_line %></p>
    <p><%= @listing.address_post_code %></p>
    <p><%= @listing.address_city %></p>
    <p><%= @listing.address_country %></p>
    <p><%= @listing.description %></p>
    <p>£<%= @listing.price %> per night</p>





    <% @bookings.each do |booking| %>
      <p><%= booking.date %></p>
    <% end %>

    <%= button_to "Make a request", '/requests/new', method: :get %>


</div>
