<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">

      <% if @listing.picture.attached? %>
          <image src="<%=(url_for(@listing.picture))%>">
      <% else %>
      <img src="https://pixabay.com/get/57e8dd454c50ac14f6da8c7dda6d49214b6ac3e45657754e712c7bd296/log-cabin-1886620_1280.jpg" alt="Placeholder image">
      <% end %>
      <!-- <img src="https://pixabay.com/get/57e8dd454c50ac14f6da8c7dda6d49214b6ac3e45657754e712c7bd296/log-cabin-1886620_1280.jpg" alt="Placeholder image"> -->
    </figure>
  </div>
<div class="card-content">
<div class="media">
  <!-- <div class="media-left">
    <figure class="image is-24x24">

    </figure>
  </div> -->



  <div class="field media content">
    <!-- <p class="control title is-3"> <%= @listing.title %> </p> -->
      <p class="subtitle pacifico is-1">"<%= @listing.description %>"</p>
  </div>
</div>

<div class="columns is-2">

<div class="column our-little-box box box-radius box-background-color box-padding box-shadow">
  <p class="control subtitle is-3"> <%= @listing.title %></p>
  <div class="is-size-4">
    <p> <%= @listing.address_first_line %> </p>

    <p><%= @listing.address_second_line %></p>
    <p><%= @listing.address_post_code %></p>
    <p><%= @listing.address_city %></p>
    <p><%= @listing.address_country %></p>
  </div>
</div>



<% if Booking.where(listing_id: @listing.id).any? %>

<div class="column our-little-box box box-radius box-background-color box-padding box-shadow">
    <p class="is-size-4">£<%= @listing.price %> per night</p>
</div>

<div class="column our-little-box  box box-radius box-background-color box-padding box-shadow">
    <div class="field">
      <label class="label is-4">Availability:</label>
      <div class="control">
        <div class="select">
          <%= select_tag "availability", options_from_collection_for_select(@bookings,"id", "date")%>
        </div>
      </div>
    </div>


</div>
<!-- end of columns-->
  </div>

    <div class="content">
      <br>
     <a href="#">#facebook</a> <a href="#">#twitter</a>
   </div>
 </div>
</div>

<div>
<a >
  <%= button_to "Make a request", '/requests/new', method: :get, class: "button is-danger is-large is-fullwidth"%>
</a>
</div>

<% else %>
<%= "Sorry, this property is unavailable" %>
<% end %>
</div> 
</div>

<div>
