<div>


    <h1><%= @listing.title %></h1>
    <p><%= @listing.address_first_line %></p>
    <p><%= @listing.address_second_line %></p>
    <p><%= @listing.address_post_code %></p>
    <p><%= @listing.address_city %></p>
    <p><%= @listing.address_country %></p>
    <p><%= @listing.description %></p>
    <p>£<%= @listing.price %> per night</p>


    <div class="field">
      <label class="label">Subject</label>
      <div class="control">
        <div class="select">
          <%= select_tag "Avilable Dates", options_from_collection_for_select(@bookings,"id", "date")%>
        </div>
      </div>
    </div>



    <!-- <% @bookings.each do |booking| %>
      <%= booking.date %>
    <% end %> -->

</div>
