<%= flash[:warning] %>

<h1>Welcome to Fight Club! </h1>

<%= form_with model: @user do |form| %>
  <%= form.text_field :username, placeholder: "username" %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= for§m.email_field :email, placeholder: "email" %>
  <%= form.telephone_field :phone_number, placeholder: "number" %>
  <%= form.password_field :password, placeholder: "password" %>

  <%= form.submit %>
<% end %>
