

<div class="columns is-centered add-top-margin">
  <div class="column is-narrow box">
<%= @listing.title  %>
<%= @listing.description  %>


    <%= form_tag("/requests", method: "post") do %>
      <div class="field">
        <label class="label">Please choose date!</label>
        <div class="control">
          <div class="select">
            <%= select_tag "availability", options_from_collection_for_select(@bookings,"id", "date")%>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Please enter a message to your host:</label>
        <div class="control">
          <%= text_area :message, nil, class: 'textarea' %>
        </div>
      </div>

      <%= submit_tag "Send request",class: "button is-success" %>
    <% end %>
  </div>
</div>
